<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <form action="" method="POST">

        <fieldset disabled="disabled">
            <input type="text" name="fullName" id="" placeholder="full name" required>
        </fieldset>

        <fieldset disabled="disabled">
            <input type="email" name="email" id="" placeholder="tshims@gmail.com" required>
        </fieldset>
        <fieldset disabled="disabled">
            <button type="submit">login</button>
        </fieldset>


    </form>
</body>
</html>